body {
	padding: 25px;
	background-color: black;
}
h2 {
	color:#228cba;
	text-align: center;
}

.leftframe {
	background-color: rgb(6, 23, 39);
	border: 4px solid #145081;
	border-radius: 15px;
	padding-bottom: 10px;
}
.leftrow {
	max-height: 33%;
}
button {
	font-family: old_republic;
	background-color: #02050a;
	border: 3px solid #145081;
	border-radius: 5px;
	color: #228cba;
	margin: 0px 3px;
	width: 24%;
	padding: 3px;
}
button:focus {
	color: orange;
}
button:hover {
	color: orange;
}
.smallimage {
	margin: 2px;
}

.hero-select:hover{
	border-color: #0f4d43;
}
.inCombat {
	background-color: #50272c;
	border-color: #9a2712;
}
.enemy-select {
	border-color: #4f5414;
	background-color: #181b06;
}
.hero {
	border-color: #148120;
	background-color: #050a02;
}
.victoryimg {
	border: 3px solid #145081;
	border-radius: 5px;
	margin: 3%;
	max-width: 94%;
}
@font-face {
	font-family: old_republic;
	src: URL(../assets/Old_R.ttf);
}